.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    background-color: aqua;
}

.active {
    background-color: blueviolet;
}

.Nav a {
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.Nav a:hover {
    background-color: antiquewhite;
}

.Nav a:active {
    background-color: blueviolet;
}