* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}

h2 {
  color: rgb(255, 128, 0);
  text-shadow: 0.75px 0.75px rgb(88, 87, 87);
}

body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 1rem;
}